.grid {
    display: grid;
    min-width: 100%;
    justify-items: stretch;

    &.-gutter {
        column-gap: var(--gutter);
        row-gap: var(--gutter);
    }

    &.-col {
        grid-template-columns: repeat(var(--col), minmax(0, 1fr));
    }

    &.-col-small {
        @media (--from-small) {
            grid-template-columns: repeat(var(--col-small), minmax(0, 1fr));
        }
    }

    &.-col-medium {
        @media (--from-medium) {
            grid-template-columns: repeat(var(--col-medium), minmax(0, 1fr));
        }
    }

    &.-col-large {
        @media (--from-large) {
            grid-template-columns: repeat(var(--col-large), minmax(0, 1fr));
        }
    }
}
