.product-tile {
    text-align: left;
    position: relative;
    display: block;
    text-decoration: none;
}

.product-tile_sale {
    position: absolute;
    top: 0; right: 0;
    padding: 10px;
    background-color: red;
    color: white;
    z-index: 2;
}

.product-tile_image-container {
    & img {
        width: 100%;
    }
}

.product-tile_infos_label {
    &.-sale {
        text-decoration: line-through;
        opacity: 0.5;
        margin-left: 10px;
    }
}
